// ================================================================================================
// Custom select styling (dependent on custom-select.js)
// ================================================================================================/*



// Wrapper element to enable positioning 
.custom-select-container { position:relative;}

// Set the dimensions of the replaced select element and make it transparent.
select.replaced {
	position: relative;
	z-index: 10;
	width: 100%; height: 2em;
	border: 0;
	@include opacity(0);
	line-height: 1;
	cursor: pointer;
}
.custom-select {
	display: block;
	position: absolute; z-index: 1;
	top: 0; left: 0;
	width: 100%;

	> span {
		display: block;
		cursor: pointer;
	}
	
	span span {
		display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
	}
	
	&.active > span {
		background: #000;
		@include background-image(linear-gradient(#555, #000));
		@include box-shadow(0 0 2px rgba(0, 0, 0, 0.5));
		color: #fff;
	}
	
	// Hide the custom select from IE6 just in case.
	.ie6 & { display:none; }

}