// Debug
// ============================================================================



@mixin debug {
	.inner {
		background-color: rgba(0, 0, 0, 0.1);
	}
	.l-header {
		background-color: rgba(255, 0, 0, 0.1);
	}
	.l-main {
		background-color: rgba(0, 255, 0, 0.1);
	}
	.l-primary {
		background-color: rgba(0, 0, 255, 0.3);
	}
	.l-secondary {
		background-color: rgba(0, 0, 255, 0.3);
	}
	.l-footer {
		background-color: rgba(0, 0, 255, 0.1);
	}
}