// Buttons
// ============================================================================
/*
Buttons made easy.
button-color() applies background-colors/gradients and font-color.
button applies layout
*/

/*
	<button class="button">This is a standard button</button>
	<button class="button-color">This only has the button-color() mixin applied</button>
*/

@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";



@mixin button-color($color1: white, $color2: #555, $text-color: white) {
	background-color: $color1; // fallback
	@include background(linear-gradient($color1, $color2));
	border-color: rgba($color1, 0.5);
	color: $text-color;

	&:hover {
		color: $text-color;
		@include background(linear-gradient( lighten($color1,20%), $color2));
	}
}



@mixin button($color1: white, $color2: black, $padding: .5em 1em, $smooth: true, $border-radius: .5em) {
	@include button-color($color1, $color2);
	@include border-radius($border-radius);
	@include text-shadow(0 0 1px rgba(0,0,0,.5));
	@include transition(all .2s ease-in-out);
	display: inline-block;
	padding: $padding;
	border-style: solid;
	border-width: 1px;
	
	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
}
