// Horizontal list
// ============================================================================

/* Can't even remember what this is… */

/*
	<div class="m-dl-horizontal">
		<dl>
			<dt><i class="icon icon-headset"></i></dt>
			<dd>text<small>small text</small></dd>
			<dt><i class="icon icon-chat"></i></dt>
			<dd>text<small>small text</small></dd>
			<dt><i class="icon icon-mail"></i></dt>
			<dd>text<small>small text</small></dd>
		</dl>
	</div>
*/

@mixin dl-horizontal($width: 3.75em) {
	dt {
		float: left;
		width: $width;
		overflow: hidden;
		clear: left;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	dd {
		margin-left: $width;
	}
}