// Equal heights
// ============================================================================
/* Equal height columns. Needs testing. */
/*
	<div class="l-equal-heights">
		<div class="l-col"></div>
		<div class="l-col"></div>
	</div>
*/

@mixin equal-heights($selector: unquote('.article')) {
	display: table;
	width: 100%;
	table-layout: fixed;
	overflow: hidden;
	#{$selector} {
		display: table-cell;
		float: none;
		vertical-align: top;
	}
}

/*
## Alternative method
Also see: http://matthewjamestaylor.com/blog/equal-height-columns-cross-browser-css-no-hacks
(not ready for use in combination with Susy)

```` $('.l-tertiary .article').wrapAll('<div class="container-eq eq-4"><div class="container-eq eq-3"><div class="container-eq eq-2"><div class="container-eq eq-1">');````
*/

@mixin equal-heights-alt($selector: unquote('.article'), $column-width: 22.68%, $gutter-width: 3.093%) {
	.container-eq {
		clear: left;
		float: left;
		width: 100%;
	}
	.eq-1 {
		clear: none;
		position:relative;
		right: 25%;
		background: #fff689; /* column 1 background colour */
	}
	.eq-2 {
		position:relative;
		right: 25%;
		background: #ffa7a7; /* column 2 background colour */
	}
	.eq-3 {
		position:relative;
		right: 25%;
		background: #89ffa2; /* column 3 background colour */
	}
	.eq-4 {
		overflow:hidden;
		background: #b2f0f9; /* column 4 background colour */
	}

	#{$selector} {
		float: left;
		width: $column-width;
		position: relative;
		overflow: hidden;

		&:nth-child(1) { left: 77%;}
		&:nth-child(2) { left: 81%;}
		&:nth-child(3) { left: 85%;}
		&:nth-child(4) { left: 89%;}
	}

}