// Layout center
// ============================================================================
/* Centers an element and gives a max-width. Useful for containers. Not so useful
now that we're using Susy */

/*
	<div class="layout-center">This will be centered and given a max-width.</div>
*/


@import "compass/utilities/general/clearfix";



@mixin layout-center($max-width: 60em, $padding: 1em) {
	@include pie-clearfix;
	max-width: $max-width;
	margin-left: auto; margin-right: auto;
	padding-left: $padding; padding-right: $padding;
}