// Media Block
// =============================================================================
/* The infamous media block module. Instant win */
/*
	<div class="media-block">
		<figure class="media">This is fluid.</figure>
		<div class="entry">This as well.</div>
	</div>
*/

@import "compass/utilities/general/clearfix";



@mixin media-block($media-selector: unquote(".media"), $entry-selector: unquote(".entry"), $margin-right: 1em) {
	@include pie-clearfix;

	
	#{$media-selector} {
		float: left;
		margin-right: $margin-right;
		img { display: block;}
	}
	#{$entry-selector} {
		display: table-cell;
		width: 10000px;
		*width: auto;
		*zoom: 1;


		-ms-word-break: break-all;
		word-break: break-all;

		// Non standard for webkit
		word-break: break-word;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}