
// Base
// ============================================================================

// Typography
html {
	font-size: $base-font-size; // use the HTML element, since we're using REM units
	line-height: $base-line-height;
	font-family: $font-body;
}

// Links
a,
a:visited {
	color: $anchor-color;
	text-decoration: underline;
}
a:hover {
	color: $anchor-color-hover;
	text-decoration: underline;
}  
a:active, a:focus {
	color: $anchor-color-active;
}

// Headers
h1 {
	@include rem(font-size, $font-size-xl);
	margin: 0 0 ($base-font-size / $font-size-xl) *1em;
	line-height: 1;
	font-weight: bold;
}
h2 {
	@include rem(font-size, $font-size-l);
	margin: 0 0 ($base-font-size / $font-size-xl) *1em;
	line-height: 1;
	font-weight: bold;
}
h3 {
	@include rem(font-size, $font-size-m);
	margin: 0;
	font-weight: bold;
}
h4,h5,h6 {
	@extend h3;
}

p,
ul,
ol,
dl,
blockquote {
	margin: 0 0 1em; 
}

// Buttons
button,
input[type=submit] {
	@include button;
}