
// Config
// ============================================================================

// Compass settings
$support-for-original-webkit-gradients: false;

// Typography
$base-font-size: 16px;
$base-line-height: 1.5;
$font-header: Menlo, serif;
$font-body: Menlo, sans-serif;

$font-size-xl: $base-font-size*3;
$font-size-l: $base-font-size*2;
$font-size-m: $base-font-size;
$font-size-s: $base-font-size*.75;
$font-size-xs: $base-font-size*.5;

// Colors
$white: #fff;
$lightgray: #bfbfbf;
$gray: #808080;
$darkgray: #404040;
$black: #000;

$anchor-color: blue;
$anchor-color-hover: red;
$anchor-color-active: red;

// Layout with Susy
$total-columns: 12;
$column-width: 6em;
$gutter-width: 2em;
$grid-padding: $gutter-width;
$container-width: 62.5em;
$container-style: magic; // magic, static or fluid

$layout-medium: 40em lt-ie9;
$layout-large: 60em lt-ie9;