
// LABS!
// ============================================================================


@mixin off-canvas() {

	$sidebar-width: 80%;

	// Base layout
	.l-main {
		overflow: hidden;
	}
	.l-primary,
	.l-secondary {
		@include transition(all 500ms ease-in-out);
		padding: 1em;
		border: 1px solid red;
	}

	.l-primary {
		float: right;
		width: 100%;
	}
	.l-secondary {
		width: $sidebar-width;
		margin-left: -100%;
		background: #ccc;
	}

	// When active
	&.sidebar-active {
		.l-primary {
			margin-right: ($sidebar-width + 2%) * -1;
		}
		.l-secondary {
			margin-left: 0;
		}
	}
}

body {
	@include off-canvas;
}