
// Layout
// ============================================================================
// See Susy settings in _config.scss


/*@include at-breakpoint($layout-large) {
	.l-main {
		@include container();
	}
	.l-primary {
		@include span-columns(8,12);
	}
	.l-secondary {
		@include span-columns(4 omega,12);
	}
}*/