
// Modules
// ============================================================================

.m-menu {
	@include navigation-horizontal;
}

.site-title {
	@include hide-text;
	background: url(../img/gui.png);
	a {
		display: block;
	}
}