/* line 14, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 28, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 38, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 47, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 56, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 70, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Removes default margin.
 */
/* line 79, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 91, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 100, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 112, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 121, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 129, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 137, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 150, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 159, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */
/* line 169, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 177, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 186, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 193, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 197, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 209, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
img {
  border: 0;
  height: auto;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 218, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 230, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 242, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 253, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 267, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 279, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 294, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 304, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 314, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 325, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 338, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 347, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 357, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 370, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 376, ../../../../../framework/best/stylesheets/best/reset/_normalize.scss */
img, embed, object, video, iframe {
  max-width: 100%;
}

/*@mixin fadeInUp() {
	0% {
		opacity: 0;
		@include transform(translateY(20px));
	}
	100% {
		opacity: 1;
		@include transform(translateY(0));
	}
}*/
/* line 6, ../sass/_base.scss */
html {
  font-size: 16px;
  line-height: 1.5;
  font-family: Menlo, sans-serif;
}

/* line 14, ../sass/_base.scss */
a,
a:visited {
  color: blue;
  text-decoration: underline;
}

/* line 18, ../sass/_base.scss */
a:hover {
  color: red;
  text-decoration: underline;
}

/* line 22, ../sass/_base.scss */
a:active, a:focus {
  color: red;
}

/* line 27, ../sass/_base.scss */
h1 {
  font-size: 48px;
  font-size: 3rem;
  margin: 0 0 0.33333em;
  line-height: 1;
  font-weight: bold;
}

/* line 33, ../sass/_base.scss */
h2 {
  font-size: 32px;
  font-size: 2rem;
  margin: 0 0 0.33333em;
  line-height: 1;
  font-weight: bold;
}

/* line 39, ../sass/_base.scss */
h3, h4, h5, h6 {
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

/* line 52, ../sass/_base.scss */
p,
ul,
ol,
dl,
blockquote {
  margin: 0 0 1em;
}

/* line 58, ../sass/_base.scss */
button,
input[type=submit] {
  background-color: white;
  background: -webkit-linear-gradient(#ffffff, #000000);
  background: -moz-linear-gradient(#ffffff, #000000);
  background: -o-linear-gradient(#ffffff, #000000);
  background: -ms-linear-gradient(#ffffff, #000000);
  background: linear-gradient(#ffffff, #000000);
  border-color: rgba(255, 255, 255, 0.5);
  color: white;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  padding: 0.5em 1em;
  border-style: solid;
  border-width: 1px;
}
/* line 17, ../../../../../framework/best/stylesheets/best/_button.scss */
button:hover,
input[type=submit]:hover {
  color: white;
  background: -webkit-linear-gradient(#e6e6e6, #000000);
  background: -moz-linear-gradient(#e6e6e6, #000000);
  background: -o-linear-gradient(#e6e6e6, #000000);
  background: -ms-linear-gradient(#e6e6e6, #000000);
  background: linear-gradient(#e6e6e6, #000000);
}
/* line 35, ../../../../../framework/best/stylesheets/best/_button.scss */
button:hover,
input[type=submit]:hover {
  cursor: pointer;
  text-decoration: none;
}

/*@include at-breakpoint(37.5em) {
	.l-main {
		@include container();
	}
	.l-primary {
		@include span-columns(8,12);
	}
	.l-secondary {
		@include span-columns(4 omega,12);
	}
}*/
/* line 5, ../sass/_module.scss */
.m-menu {
  *zoom: 1;
}
/* line 8, ../../../../../framework/best/stylesheets/best/navigation/_navigation.scss */
.m-menu ul {
  padding-left: 0;
  margin: 0;
}
/* line 12, ../../../../../framework/best/stylesheets/best/navigation/_navigation.scss */
.m-menu li {
  list-style: none;
}
/* line 15, ../../../../../framework/best/stylesheets/best/navigation/_navigation.scss */
.m-menu a {
  display: inline-block;
}
/* line 18, ../../../../../framework/best/stylesheets/best/navigation/_navigation.scss */
.m-menu ul ul {
  display: none;
}
/* line 38, ../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.m-menu:after {
  content: "";
  display: table;
  clear: both;
}
/* line 13, ../../../../../framework/best/stylesheets/best/navigation/_navigation-horizontal.scss */
.m-menu li {
  float: left;
  margin-right: 1em;
}

/* line 9, ../sass/_module.scss */
.site-title {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../img/gui.png);
}
/* line 12, ../sass/_module.scss */
.site-title a {
  display: block;
}

/* line 11, ../sass/_labs.scss */
body .l-main {
  overflow: hidden;
}
/* line 15, ../sass/_labs.scss */
body .l-primary,
body .l-secondary {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  padding: 1em;
  border: 1px solid red;
}
/* line 21, ../sass/_labs.scss */
body .l-primary {
  float: right;
  width: 100%;
}
/* line 25, ../sass/_labs.scss */
body .l-secondary {
  width: 80%;
  margin-left: -100%;
  background: #ccc;
}
/* line 33, ../sass/_labs.scss */
body.sidebar-active .l-primary {
  margin-right: -82%;
}
/* line 36, ../sass/_labs.scss */
body.sidebar-active .l-secondary {
  margin-left: 0;
}
