// Form validation
// ============================================================================
/* Not done. Don't use. */

@import "compass/css3/border-radius";


@mixin form-validation() {
	.field-help {
		@include border-bottom-left-radius(1em);
		@include border-bottom-right-radius(1em);
		margin: 0 1em;
		padding: .3em 1em .4em;
		background: green;
		color: #fff;
	}
	form .error {
		background: red;
		color: #fff;
	}
	input[type=text].field_error,
	textarea.field_error {
		border-color: red;
	}
}