// Form layout
// ============================================================================
/* Important: this requires the rem and susy modules. And the markup could be a lot better. Actually, you don't use this yet.

````<form>
	<div class="control-group">
		<label class="control-label"></label>
		<div class="controls">
			<input>
		</div> 
	</div>
</form>````
*/

@import "compass/utilities/general/clearfix";


// Basic form layout
// ============================================================================
/* Help */
@mixin form-basic($margin: 1em) {
	.control-group {
		margin-bottom: $margin;
	}
	.control-label {
		display: block;
		margin-bottom: .4em;
	}
	.control-inline {
		label { display: inline; }
	}
}



// Vertical form layout
// ============================================================================
/* Help */
@mixin form-vertical {
	.control-group {
 		clear: both;
	}
}



// Horiztontal form layout
// ============================================================================
/* Help */
@mixin form-horizontal {
	clear: both;
	.control-group {
		clear: none;
		float: left;
		margin-right: 1em;
		
		@media only screen and (max-width: 400px) {
			float: none;
			margin-right: 0;
		}
	}

}



// Form layout with labels on the left
// ============================================================================
/* Help */
@mixin form-left-aligned {

	legend {
		margin-left: 260px;
	}
	.control-group {
	}
	.control-label {
		float: left;
		width: 240px;
		padding-top: .5em;
		text-align: right;
		margin-bottom: 0;
	}
	.controls {
		margin-left: 260px;
	}
}



// Form layout in two cols
// ============================================================================
/* Help */
@mixin form-twocol {
	@include pie-clearfix;

	label { display: block; }
	.control-group {
		@include span-columns(2,4);
		&:nth-child(2n) { @include omega;}
		
		// stop nested elements from floating
		.control-group {
			@include reset-columns;
			&:last-child { margin-bottom: 0; }
		}

		@media only screen and (max-width: 30em) {
			@include reset-columns;
			&:nth-child(2n) { @include reset-columns; }
		}
	}
	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="password"],
	textarea {
		width: 100%;
	}
}
