// Form style
// ============================================================================
/* Applies basic styling for form elements. */

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";



@mixin form-style(
		$background-color: #fff,
		$border-color: #bbb,
		$focus-border-color: #666,
		$padding: .5em,
		$border-radius: .5em,
		$box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
){
	
	input[type=email],
	input[type=text],
	input[type=search],
	input[type=password],
	textarea {
		@include box-sizing(border-box);
		@include box-shadow($box-shadow);
		@include border-radius($border-radius);
		@include transition(all .2s);
		padding: $padding;
		*padding: $padding 0; /* avoids problem in older browsers */
		background-color: $background-color;
		border: 1px solid $border-color;
		
		&:focus {
			border-color: $focus-border-color;
			outline: 0;
		}
	}

}
