// Iterative delay
// ============================================================================
/*
Enables you to run effects iterative through an array of elements. Takes three arguments: $selector, $count and $delay. $count is the number of elements (nth-childs) to run through.
*/

@import "compass/css3/transition";

@mixin iterative-delay($selector: unquote(".item"), $count: 2, $delay: 0.07s) {
	@for $i from 1 through $count {
		#{$selector}:nth-child(#{$i}) {
			@include transition-delay($delay * $i);
		}
	}
}
