// Keyframes
// ============================================================================
@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/transition";



@mixin fadeIns() {
	// 3D transition
	@include keyframes(flipFront) {
		0% {
			@include rotateX(-180deg);
		}
		100% {
			@include rotateX(0deg);
		}
	}
	@include keyframes(flipBack) {
		0% {
			@include rotateX(180deg);
		}
		100% {
			@include rotateX(0deg);
		}
	}

	// Pop up
	@include keyframes(popUp) {
		0% {
			@include scale(0);
		}
		100% {
			@include scale(1);
		}
	}

	@include keyframes(fadeInSoft) {
		0% {
			opacity: 0.6;
		}
		100% {
			opacity: 1;
		}
	}
	@include keyframes(fadeOutSoft) {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0.6;
		}
	}

	@include keyframes(fadeIn) {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@include keyframes(fadeOut) {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	@include keyframes(fadeInDown) {
		0% {
			opacity: 0;
			@include translateX(+3px);
		}
		100% {
			opacity: 1;
			@include translateX(0px);
		}
	}

	@include keyframes(fadeInUp) {
		0% {
			opacity: 0;
			@include translateX(-3px);
		}
		100% {
			opacity: 1;
			@include translateX(0px);
		}
	}

	@include keyframes(fadeOutUp) {
		0% {
			opacity: 1;
			@include translateX(0px);
		}
		100% {
			opacity: 0;
			@include translateX(+3px);
		}
	} 
}