// Navigation Dropdown
// ============================================================================
/* Use for dropdowns. Doesn't include styling. */
/*
    <nav class="dropdown">
    	<ul>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
    	</ul>
    </nav>
*/

@import "best/navigation/navigation";
@import "compass/utilities/general/clearfix";



@mixin navigation-dropdown {

	li {
		position: relative;
	}
	li:hover > ul {
		display: block;
	}

	ul ul {
		position: absolute;
		top: auto;
		z-index: 10;
	}
	ul ul li {
		float: none;
		margin: 0;
	}
}