// Navigation
// ============================================================================
/* Used as a base for navigation. */
/*
    <p>Just testing</p>
    <nav class="oskartestingstyledocco">
    	<ul>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
    	</ul>
    </nav>
*/

@mixin navigation {
	ul {
		padding-left: 0;
		margin: 0;
	}
	li {
		list-style: none;
	}
	a {
		display: inline-block;
	}
	ul ul {
		display: none;
	}
}
