// Navigation Breadcrumb
// ============================================================================
/* Use for breadcrumbs */
/*
    <p>Just testing</p>
    <nav class="oskartestingstyledocco">
    	<ul>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
    	</ul>
    </nav>
*/

@import "best/navigation/navigation";
@import "compass/utilities/general/clearfix";



@mixin navigation-breadcrumb($alignment : left) {
	@include navigation;
	@include pie-clearfix;

	li {
		float: left;
	}
	.divider {
		padding: 0 0.6em;
	}
}
