// Navigation Horizontal
// ============================================================================
/* Use for horizontal navigation */
/*
    <p>Just testing</p>
    <nav class="oskartestingstyledocco">
    	<ul>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
    	</ul>
    </nav>
*/

@import "best/navigation/navigation";
@import "compass/utilities/general/clearfix";

@mixin navigation-horizontal($alignment: left, $spacing: 1em) {
	@include navigation;
	
	ul {
		@include pie-clearfix;
	}
	li {
		float: left;
		@if($alignment == left) {
			margin-right: $spacing;
		}
		@else {
			margin-left: $spacing;
		}
	}
}
