// Tinynav
// ============================================================================
/*
	tinynav() quickly enables you to enable (yo!) tinynav to your navigation. This is dependant on the tinynav.js script
*/


@mixin tinynav($breakpoint: 600px, $menu-selector: unquote(".m-menu-primary > ul")) {
	
	// above breakpoint hide tinynav
	.tinynav { display: none; }
	
	// below breakpoint show tinynav and hide menu
	@media screen and (max-width: $breakpoint) {
		.tinynav { display: block; }
		#{$menu-selector} { display: none; }
	}
}